<div class="container">
  <div class="grid-wrapper">
    <div class="grid-item">
      <a routerLink="main" routerLinkActive="active" class="nav-link">Start</a>
    </div>
    <div class="grid-item">
      <a routerLink="sentences" routerLinkActive="active" class="nav-link">Sentences</a>
    </div>
    <div class="grid-item">
      <a routerLink="create-sentence" routerLinkActive="active" class="nav-link">Add Sentence</a>
    </div>
    <div class="grid-item">
      <a routerLink="login" routerLinkActive="active" class="nav-link">Login</a>
    </div>
    <div class="grid-item">
      <a routerLink="signin" routerLinkActive="active" class="nav-link">Sign in</a>
    </div>
  </div>
  <div class="grid-item">
    {{login}}  </div>
</div>
<div class="title">
  <h1>{{title}}</h1>
</div>
