<div class="container">
  <div class="container1">
    <div class="grid-item">
      <a routerLink="main" routerLinkActive="active" class="nav-link">Start</a>
    </div>
    <div class="grid-item">
      <a routerLink="sentences" routerLinkActive="active" class="nav-link">Sentences</a>
    </div>
    <div class="grid-item">
      <a routerLink="create-sentence" routerLinkActive="active" class="nav-link">Add Sentence</a>
    </div>

  </div>
  <div class="container2">


    <div *ngIf="email === null || email ===''" class="grid-item">
      <a routerLink="signin" routerLinkActive="active" class="nav-link">Sign in</a>
    </div>

    <div *ngIf="email === null || email ===''" class="grid-item">
      <a routerLink="login" routerLinkActive="active" class="nav-link">Login</a>
    </div>

    <div *ngIf="!(email === null || email ==='')" class="grid-item">
      {{email}}
    </div>

    <div *ngIf="!(email === null || email ==='')" class="grid-item">
      <a  (click)="logout()" routerLinkActive="active" class="nav-link" style="cursor: pointer;">Logout</a>
    </div>
  </div>
</div>
<div class="title">
  <h1>{{title}}</h1>
</div>
<!--<button (click)="logout()" class="btn-submit">logout</button>-->
