<h2>Sentence list</h2>
<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>text</label>
    <input type="text" class="form-control" id="text" [(ngModel)] = "sentence.text"  name="text">
  </div>
  <button class = "btn btn-success" type ="submit">Search</button>
</form>

<table class="table table-striped">
  <thead>
  <tr>
    <th> Id</th>
    <th> text</th>
    <th> actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let sentence of sentences">
    <td> {{sentence.id}} </td>
    <td> {{sentence.text}} </td>
    <td>
      <button (click)="updateSentence(sentence.id)" class="btn btn-info">update</button>
      <button (click)="deleteSentence(sentence.id)" class="btn btn-danger" style="margin-left: 10px">delete</button>
      <button (click)="detailsSentence(sentence.id)" class="btn btn-info" style="margin-left: 10px">detail</button>
    </td>

  </tr>
  </tbody>

</table>
