<h2>Sentence list</h2>
<form (ngSubmit)="onSubmit()">
  <div>
    <input type="text" class="rounded-input" id="text" [(ngModel)]="search" name="text">
  </div>
  <button class="btn-search" type="submit">Search</button>
</form>

<table>
  <thead>
  <tr>
    <th> text</th>
    <th> actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let sentence of sentences">
    <td class="rounded"> {{sentence.textEn}} </td>
    <td>
      <button class="btn-update" (click)="updateSentence(sentence.id)">update</button>
      <button class="btn-delete" (click)="deleteSentence(sentence.id)" style="margin-left: 10px">delete</button>
      <button class="btn-detail" (click)="detailsSentence(sentence.id)" style="margin-left: 10px">detail</button>
    </td>
  </tr>
  </tbody>
</table>
