<header class="header">
  <div class="grid-wrapper">
    <div class="grid-item item-1">
        <a routerLink="main" routerLinkActive="active" class="nav-link">Start</a>
    </div>
    <div class="grid-item item-2">
        <a routerLink="sentences" routerLinkActive="active" class="nav-link">Sentences</a>
    </div>
    <div class="grid-item item-3">
      <a routerLink="create-sentence" routerLinkActive="active" class="nav-link">Add Sentece</a>
    </div>
  </div>
    <div class="grid-item">
      <h1>{{title}}</h1>
    </div>
</header>

<body class="body">
  <div >
    <router-outlet></router-outlet>
  </div>
</body>
<footer>
    <div class="footer1">
      <a href="https://github.com/Jakub686/EnglishSentences">Source code</a>
    </div>
</footer>

