<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class = "navbar-nav">
    <li class = "nav-item">
      <a routerLink="sentences" routerLinkActive="active" class="nav-link" >sentences</a>
    </li>
    <li class = "nav-item">
      <a routerLink="create-sentence" routerLinkActive="active" class="nav-link" >Add Employee</a>
    </li>
    <li class = "nav-item">
      <a routerLink="main" routerLinkActive="active" class="nav-link" >main</a>
    </li>

  </ul>
</nav>

<h1 class="text-center"> {{title}} </h1>
<div class = "container">
  <router-outlet></router-outlet>
</div>

<footer class = "footer">
  <div class = "container">
    <a href="https://github.com/Jakub686/EnglishSentences">Source code</a>
  </div>
</footer>
