
.grid-item {
  font-weight: 500;
  color: white;
  font-size: 16px;
  padding: 10px;
  text-align: center;
}

.item-1 {
  background: #F59E0B;
}

.item-2 {
  background: #F59E0B;
}

.item-3 {
  background: #F59E0B;
}


.footer1 {
  position: sticky;
  top: 80%;
}

.grid-wrapper {
  text-align: center;
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-gap: 10px;

}
