<h2>Sign in</h2>

<form (ngSubmit)="onSubmit()">
  <div class="grid-wrapper-main">
    <div class="rounded-input">
      <label>First name: </label>
      <input type="text" class="rounded" [(ngModel)]="user.firstname" name="username">
    </div>
    <div class="rounded-input">
      <label>Last name: </label>
      <input type="text" class="rounded" [(ngModel)]="user.lastname"
             name="password">
    </div>
    <div class="rounded-input">
      <label>Emial: </label>
      <input type="text" class="rounded" [(ngModel)]="user.email"
             name="password">
    </div>
    <div class="rounded-input">
      <label>Password: </label>
      <input type="text" class="rounded" [(ngModel)]="user.password"
             name="password">
    </div>
  </div>
  <button class="btn-submit" type="submit">Submit</button>
</form>

