<form (ngSubmit)="saveUser()">
  <div class="grid-wrapper-main">
    <div class="rounded-input">
      <label>firstname: </label>
      <input type="text" class="rounded" [(ngModel)]="userSignIn.firstname" name="firstname">
    </div>

    <div class="rounded-input">
      <label>lastname: </label>
      <input type="text" class="rounded" [(ngModel)]="userSignIn.lastname"
             name="lastname">
    </div>

    <div class="rounded-input">
      <label>email: </label>
      <input type="text" class="rounded" [(ngModel)]="userSignIn.email"
             name="email">
    </div>


    <div class="rounded-input">
      <label>password: </label>
      <input type="text" class="rounded" [(ngModel)]="userSignIn.password"
             name="password">
    </div>

  </div>
  <button class="btn-submit" type="submit">Submit</button>
</form>




