.grid-wrapper-main {
  text-align: center;
  display: grid;
  grid-gap: 50px;


}

.random {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  margin: 20px;
  padding: 20px 14px; /* Adjust as needed */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px; /* Adjust as needed */
  box-shadow: 0 3px 5px #999;
}

.random:hover {
  background-color: #3e8e41
}

.random:active {
  background-color: #3e8e41;
  box-shadow: 0 3px 5px #666;
  transform: translateY(4px);
}

.rounded {
  background-color: floralwhite;
  border-radius: 20px;
  color: black;
  margin: 3px;
  padding: 7px 14px;
  font-size: 16px;
  display: inline-block;
}

.btn-submit {
  background-color: #4CAF50;
  border-radius: 20px;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 5px
}


.text-yellow {
  color: yellow;
}

.my-fav{
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgba(255, 255, 0, 0.83);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgba(255, 255, 0, 0.83);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
