<div class="grid-wrapper-main">
  <table>
    <tbody>
    <tr>
      <td class="rounded"> En: {{randomDTO.textEn}} </td>
    </tr>
    <tr>
      <td class="rounded">Pl: {{randomDTO.textPl}} </td>
    </tr>
    <tr>
      <td>
        <i
          *ngIf="email !== ''"
          (click)="addToFav(randomDTO.id)"
          [class]="randomDTO.favorite ? 'fas fa-star text-yellow' : 'fas fa-star'"
          style="margin-left: 10px; cursor: pointer;"
        ></i>
      </td>
    </tr>
    <tr>
      <td>
        <button (click)="randomSentence()" class="random" style="margin-left: 10px">random sentence</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
