<div class="grid-wrapper-main">

  <table>
    <tbody>
    <tr >
      <td class="rounded"> En: {{randomDTO.textEn}} </td>
    </tr>
    <tr >
      <td class="rounded">Pl: {{randomDTO.textPl}} </td>
    </tr>
    <tr >
      <button *ngIf="email !== null" (click)="addToFav(randomDTO.id)" class="random" style="margin-left: 10px">Add to fav</button>
    </tr>
    <tr >
      <button (click)="randomSentence()" class="random" style="margin-left: 10px">random sentence</button>
    </tr>
    </tbody>
  </table>

</div>


