<div class="grid-wrapper-main">
  <table>
    <tbody>
    <tr>
      <td class="rounded"> En: {{randomDTO.textEn}} </td>
    </tr>
    <tr>
      <td class="rounded">Pl: {{randomDTO.textPl}} </td>
    </tr>
    <tr>
      <td class="my-fav">
        <i
          *ngIf="email !== '' && role === 'USER'"
          (click)="addToFav(randomDTO.id)"
          [class]="randomDTO.favorite ? 'fas fa-star text-yellow' : 'fas fa-star'"
          style="padding-right: 10px; cursor: pointer; font-size: 24px;"
        ></i>

        <label class="switch">
          <input type="checkbox" checked>
          <span class="slider round"></span>
        </label>
      </td>

    </tr>
    <tr>
      <td>
        <button (click)="randomSentence()" class="random" style="margin-left: 10px">random sentence</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
